[Unit]
Description=Kuavo Audio Player Launcher Service
After=network.target roscore.service user@1000.service pulseaudio.service
Wants=network.target roscore.service pulseaudio.service

[Service]
Type=simple
User=lab
Group=lab
SupplementaryGroups=audio pulse-access
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/ros/noetic/bin:/home/lab/.local/bin"
Environment="USER=lab"
Environment="HOME=/home/lab"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_SERVER=unix:/run/user/1000/pulse/native"
Environment="ROS_MASTER_URI=http://kuavo_master:11311"
Environment="ROS_HOSTNAME=kuavo_master"
ExecStart=/bin/bash -c 'export ROS_IP=$(hostname -I | awk "{print $1}"); /home/lab/szhr/CozeRobotChat/ros_ws/setup.sh'
ExecStop=/bin/bash -c "pkill -f 'kuavo_audio_player/loundspeaker.py' || true"
Restart=always
RestartSec=5s
WorkingDirectory=/home/lab

[Install]
WantedBy=multi-user.target

